body {
  background-color: antiquewhite;
  margin: 0px;
  padding: 0px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: dimgray;
  color: ivory;
  border-bottom: 2px solid gray;
  z-index: 2;
}

ul {
  padding: 0;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  display: inline-block;
  padding: 0px 15px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: antiquewhite;
  text-decoration: underline;
  cursor: pointer;
}

.main-content {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 100%;
  background: url("../images/coding_computer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.bold {
  font-weight: 900;
}

.light-blue {
  color: lightskyblue;
}

.pink {
  color: hotpink;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 50px;
  background-color: dimgray;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px;
}

h2 {
  font-weight: 400;
  font-size: 40px;
  margin: 0px;
}

h3 {
  font-size: 25px;
  margin: 30px;
}

table {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0 auto 50px;
  width: 100%;
  max-width: 800px;
}

.table-spacing {
  margin: 0px 50px;
}

th {
  background-color: silver;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
}

tr {
  transition: all 150ms ease-in-out;
}

.html-table tr:hover {
  background-color: lightskyblue;
}

.css-table tr:hover {
  background-color: hotpink;
}

.element {
  background-color: ghostwhite;
  font-family: monospace;
}

footer {
  font-size: 12px;
  margin-bottom: 10px;
  text-align: right;
  margin-right: 10px;
}

footer p {
  line-height: 20px;
  color: dimgray;
  margin-bottom: 6px;
}

footer img {
  padding-left: 5px;
  opacity: 0.75;
}
